<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Classificiation
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Classification</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item-divider>
    <ion-label>
      <strong>SEASON 2010 - 2020</strong>
    </ion-label>
  </ion-item-divider>  
  <ion-list>
    <ion-item *ngFor="let team of teams.data; let i = index" [routerLink]="['', team.id]">
      <ion-avatar>
        <ion-img src="https://i.ytimg.com/vi/FJK-zqmwLNQ/hqdefault.jpg"></ion-img>
      </ion-avatar>
      <ion-card-subtitle>{{team.abbrevation}}</ion-card-subtitle>
      <ion-card-title class="ion-padding-start"><strong>#{{i+1}} </strong> {{ team.name }}</ion-card-title>
      <ion-badge class="minimal-margin" slot="end" color="success">10 W</ion-badge>
      <ion-badge class="minimal-margin" slot="end" color="danger">4 L</ion-badge>
    </ion-item>
  </ion-list>
  <!--
  <ion-list>
    <ion-item *ngFor="let team of teams.data; let i = index" [routerLink]="['', team.id]">
      <ion-avatar>
        <ion-img src="https://i.ytimg.com/vi/FJK-zqmwLNQ/hqdefault.jpg"></ion-img>
      </ion-avatar>
      <ion-row class="ion-padding-start">
         <ion-label><strong>#{{i+1}}</strong>   {{ team.full_name }}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label slot="bottom" >{{ team.conference }} conference | {{ team.division }} division </ion-label>
      </ion-row>
    </ion-item>
  </ion-list>
  -->
  
</ion-content>
