<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">NBA Teams</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let team of teams.data">
      <ion-avatar>
        <ion-img src="https://i.ytimg.com/vi/FJK-zqmwLNQ/hqdefault.jpg"></ion-img>
      </ion-avatar>
      <ion-row class="ion-padding-start">
        <ion-label>{{ team.full_name }}</ion-label>
      </ion-row>
      <ion-row>
        <ion-label slot="bottom" >{{ team.conference }} conference | {{ team.division }} division </ion-label>
      </ion-row>
      
      
      
      
      
    </ion-item>
  </ion-list>
</ion-content>
