<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Player Stats
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Player Stats</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-card *ngFor="let stat of stats.data">   
    <ion-card-header>
      <ion-row>
        <ion-col size="4">
          <ion-item>
            <ion-avatar slot="start">
              <ion-img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSJ2f2jXT6CXFckRdlxxi4qho4QWISEld2qsg&usqp=CAU"></ion-img>
            </ion-avatar>
          </ion-item>
      </ion-col>
      <ion-col>
        <ion-card-subtitle>{{stat.team.full_name}}</ion-card-subtitle>
        <ion-card-title>{{stat.player.last_name}}, {{stat.player.first_name}}</ion-card-title>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-card-subtitle>
          {{stat.pts}} points | {{stat.reb}} assists | {{stat.reb}} rebounds | {{stat.stl}} steals 
        </ion-card-subtitle>
      </ion-col>
    </ion-row>
    </ion-card-header>
  </ion-card>

</ion-content>
